<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
    <!--1：配置dubbo的应用名称
        注册中心中的应用名称，名称出现重复
    -->
    <dubbo:application name="dubbo_provider"></dubbo:application>
    <!--2：配置dubbo注册中心Zookeeper的地址
        无论服务提供者还是服务消费者，都需要将信息注册到注册中心，该行配置必须有
    -->
    <dubbo:registry address="zookeeper://127.0.0.1:2181"></dubbo:registry>
    <!--dubbo使用什么协议和端口对外发布服务，该配置不写，默认是dubbo协议，端口是20880（注意：该配置需要在服务提供者完成）-->
    <dubbo:protocol name="dubbo" port="20882"></dubbo:protocol>
    <dubbo:protocol name="rmi" port="1099"></dubbo:protocol>
    <!--3：配置需要暴露的业务接口及实现类（配置文件XML）-->
    <!--暴露的业务接口-->
    <!--<dubbo:service interface="com.itheima.service.UserService" ref="userService" protocol="dubbo"></dubbo:service>-->
    <!--实现类-->
    <!--<bean id="userService" class="com.itheima.service.impl.UserServiceImpl"></bean>-->

    <!--3：配置需要暴露的业务接口及实现类（注解）-->
    <dubbo:annotation package="com.hong.service"></dubbo:annotation>
    <!--加载spring-dubbo.xml的同时，加载spring-service.xml-->
    <!--<import resource="classpath:spring-service.xml"></import>-->
    <!--服务提供者：设置超时时间-->
    <dubbo:provider timeout="600000"></dubbo:provider>
</beans>