<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--创建Service对象
        <bean>：IOC：将对象的创建交给Spring管理，称之为控制反转IOC
            id：创建对象的唯一标识
            class：对应的创建对象的全路径（底层：通过反射）
    -->
    <bean  id="accountService" class="com.itheima.service.impl.AccountServiceImpl"></bean>

    <!--创建Dao对象-->
    <bean id="accountDao" class="com.itheima.dao.impl.AccountDaoImpl"></bean>
</beans>