<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <!--（1）：配置组件的扫描（扫描控制层的组件@Controller）-->
    <context:component-scan base-package="com.itheima"></context:component-scan>

    <!--（2）：开启springmvc的三大组件（处理器映射器，处理器适配器，视图解析器(可有可无)）
    springmvc的注解驱动（自动开启处理器映射器，处理器适配器等配置）
       省略了：
          <bean id="requestMappingHandlerMapping" class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"></bean>
          <bean id="requestMappingHandlerAdapter" class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter"></bean>

    -->
    <mvc:annotation-driven></mvc:annotation-driven>

    <!--（3）：创建视图解析器（定义响应视图的路径，指定前缀和后缀）-->
    <bean id="resourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/page/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>

    <!--（4）去掉静态资源的拦截（js、css、img）-->
    <!--方案一：自己指定
        mvc:resources：
            mapping=""：指定页面中的映射路径，对应<script src="./js/jquery.min.js"></script>
            location=""：项目中的路径，对应springmvc_day02_response_a/webapp/js
    -->
    <!--<mvc:resources mapping="/js/**" location="/js/"></mvc:resources>-->
    <!--<mvc:resources mapping="/css/**" location="/css/"></mvc:resources>-->
    <!--<mvc:resources mapping="/img/**" location="/img/"></mvc:resources>-->
    <!--方案二：使用默认-->
    <mvc:default-servlet-handler></mvc:default-servlet-handler>
</beans>